---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline|Karla&display=swap');

body {
    font-family: 'Karla', sans-serif;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #573bcb;
    font-family: 'Karla', sans-serif;
}

page-header {
    padding: 2.5rem 3rem;
}
.page-header {
    color: #fff;
    font-family: 'Fascinate Inline', cursive;
    text-align: center;
    background-color: #212a9a;
    background-image: linear-gradient(120deg, #0080ff, #8e03b5);
}
