---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

body {
    font-family: 'Karla', sans-serif;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #573bcb;
    font-family: 'Karla', sans-serif;
}

page-header {
    padding: 2.5rem 3rem;
}
.page-header {
    color: #fff;
    font-family: 'Karla', sans-serif;
    text-align: center;
    background-color: #212a9a;
    background-image: linear-gradient(0deg, ##ff0057, #ffa6c3);
}

.imgLeft {
    float:left;
    margin: 0 10px 10px 0;
    width: 50%;
    vertical-align: top;
    border:10px solid black;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Border around the container */

.row {
   border: 1px solid crimson;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    }
}

